We are getting married. Come party with us!


%a{:href => url('/alice')} alice
%a{:href => url('/jimmy')} jimmy

%a{:href => url('/bridesmaids/maya')} Maya
%a{:href => url('/bridesmaids/gladys')} Gladys
%a{:href => url('/bridesmaids/ivy')} Ivy


%a{:href => url('/groomsmen/michael')} Michael
%a{:href => url('/groomsmen/peter')} Peter
%a{:href => url('/groomsmen/tam')} Tam 
