%div.main_content.our_story
  %h3= "OUR STORY"

  %img.our_story_banner{src: '/image/our-story.png'}

  %div.our_story_content
    %p
      The first time that we went out was to Stanley park. We talked about our work, our school life, our interests. It was not a romantic topic when walking along the sea wall.
    %p
      After that, we had a whole series of adventures. Downtown shoe shopping, more badminton, some movies, visits to the aquarium. It was at the Capilano suspension bridge that we finally decided to become a couple. And that is where you are all invited to participate and witness our big day.
