%div.main_content.green
  %h3= "\"THE PROPOSAL\" BY JIMMY"

  %div.pull-left.col-md-5
    %p
      I don't know how a proposal usually goes down. But I imagine it very often involves a nice restaurant, a good meal, and the ring in a champagne glass. Does that sound outdated? Good. Cause none of that happened.
      I certainly did plan to do all of that though. Except maybe replace champagne glass with a sundae.

    %p
      That night I made reservations at a restaurant. Picked Alice up and we talked a bit. She promptly told me that she was feeling under the weather and we should just go back and chill at my place. I thought okay, we can go to a different restaurant closer to home, but the *very special* Alice says Japanese food on Groupon is what she wants.
      Well. Who proposes at a Japanese restaurant? What do I put the ring in? The soy sauce dish?

    %p
      After scratch two we went home and just chatted lazily in my room. Although nothing happened according to my plans tonight I thought I could still control one thing. I could still marry the woman I want on the night that I wanted with the ring that I had.

    %p
      I fished ring from its secret hiding place (on the book shelf), and popped the question. No nice restaurant, no nice meal, and no champagne or sundae. But then I found out as so many of you might already know, none of that really matters in the end.

  %img.pull-right{src: '/image/proposal.png'}
