%div.main_content.rsvp

  .new_rsvp_form
    %h3= "RSVP"
    %form.form-horizontal{action: "/rsvp_action", method: "POST"}
      %input#guest_id{name: "guest[id]", type: "hidden"}
      %div.form-group#name
        %label{for: "guest_name"} NAME
        %input#guest_name{name: "guest[name]", type: "text", size: 46}
      %div#can_plus_one.form-group.hidden
        .checkbox
          %input#guest_has_plus_one{name: "guest[has_plus_one]", type: "checkbox"}
          +1?
      %div#plus_one_name.form-group.hidden
        %label{for: "plus_one_name"} +1 NAME
        %input#guest_plus_one_name{name: "guest[plus_one_name]", type: "text", size: 44}
      %div#submit_form.form-group
        %input{alt: "Submit", src: "image/submit-btn.png", type: "image", disabled: 'disabled'}

:javascript
  $(document).ready(function() {

    $(function() {
      $( "#guest_name" ).autocomplete({
        source: function( request, response ) {
          $.ajax({
            url: "/guests",
            dataType: "json",
            data: { guest_name: request.term },
            success: function( data ) {
              response( $.map( data.matchingGuests, function( item ) {
                return {
                  label: item.name,
                  value: item.name,
                  id: item.id,
                  plus_one: item.plus_one,
                }
              }));
            }
          });
        },
        minLength: 2,
        select: function( event, ui ) {
          $("input#guest_id").val(ui.item.id);
          if (ui.item.plus_one) {
            $("div#can_plus_one").removeClass('hidden');
          }
          $('div#submit_form input').removeAttr('disabled');
        },
        open: function() {
          $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
        },
        close: function() {
          $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
        }
      });
    });

    $("input#guest_has_plus_one").change(function(event) {
      $("div#plus_one_name").removeClass('hidden');
    });

  });
