%div.main_content.yellow
  %h3= "CEREMONY & VENUE INFO"

  %div.pull-left.col-md-4
    %div.venue_map
      %iframe{frameborder: "0", height: "350", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://maps.google.ca/maps?t=m&q=Capilano+Suspension+Bridge,+Capilano+Road,+North+Vancouver,+BC&ie=UTF8&hq=Capilano+Suspension+Bridge,+Capilano+Road,+North+Vancouver,+BC&ll=49.34107,-123.11027&spn=0.011689,0.02392&output=embed", width: "298"}
    %div.venue_info
      %h4= 'CAPILANO SUSPENSION BRIDGE PARK'
      %br
      3735 Capilano Road
      %br
      North Vancouver, BC V7R

  %div.pull-left.col-md-6
    %img{src: '/image/venue-info.png'}
