h1, h2, h3, h4 {
  margin-top: 0 !important;
  margin-bottom: 30px !important;
  font-family: "Oswald", monospace !important;
}

a, a:hover {
  color: #797979 !important;
  text-decoration: none !important;
}

a.rsvp_link, a.rsvp_link:hover {
  color: white !important;
  text-decoration: none;
}




div.main_layout {
  min-height: 850px;
  background-color: #222222;
}

div.rsvp_section {
  padding: 5px 0;
  background-color: #f0f0f0;
}

a.rsvp_link {
  padding: 10px 25px;
  background-color: #48b5b1;
  width: 150px;
  margin-left: 82%;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

div.navigation_headers {
  background-color: #f0f0f0;
}

ul.navigation_header_items {
  padding-bottom: 5px;
  margin: 0 auto;
  width: 90%;
}

li.navigation_item {
  margin-right: 7%;
  font-size: 18px;
  font-family: "Oswald", monospace;
  display: inline;
  height: 20px;
  list-style-type: none;
}

li.navigation_item.selected {
  border-bottom: thick solid #cccccc;
}

li.home {
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image:url('image/home.png');
  width: 21px;
  height: 18px;
  margin-top: 15px;
  margin-right: 2.5%;
}






div.main_content {
  min-height: 750px;
  width: 90%;

  padding: 50px 5% 30px 5%;
  margin-left: auto;
  margin-right: auto;
}

div.green {
  background-color: #48b5b1;
  color: white;
}

div.white {
  background-color: white;
  color: #797979;
}

div.yellow {
  background-color: #f8ec94;
  color: #443c30;
}

div.rsvp {
  background-image:url('image/bg-rsvp.jpg');
  background-repeat: no-repeat;
}







div.our_bio_box {
  font-size: 13px;
  font-family: "arial", serif;

  width: 36%;
  margin-top: 70px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 15px;
  height: 550px;
  -moz-box-shadow: 0 0 10px 5px #eee;
  -webkit-box-shadow: 0 0 10px 5px#eee;
  box-shadow: 0 0 10px 5px #eee;
}

div.bio_box {

}

div.bio_box div.our_bio_box {
  height: 400px;
  margin-top: 70px;
  margin-left: 40px;
  margin-right: 0px;
  width: 100%;
}

h4.our_bio_title {
  border-bottom: thin dotted #cccccc;
  padding-bottom: 10px;
  padding-top: 20px;
  display:inline;
}

img.jimmy_bio, img.michael_bio, img.peter_bio, img.tam_bio {
  margin-top: -110px;
  margin-left: -50px;
  margin-bottom: 15px;
}

img.alice_bio, img.maya_bio, img.gladys_bio, img.ivy_bio {
  margin-top: -110px;
  margin-left: -50px;
  margin-bottom: 15px;
}

a.left_navigate_link div {
  background-image:url('image/arrow-left.png');
  width: 31px;
  height: 31px;
  margin-top: 280px;
  float:left;
}

a.right_navigate_link div {
  background-image:url('image/arrow-right.png');
  width: 31px;
  height: 31px;
  margin-top: 280px;
  float: right;
}

a.left_navigate_link.groomsmen div {
  margin-left: -10px;
}

a.right_navigate_link.groomsmen div {
  margin-right: -90px;
}

a.left_navigate_link.bridesmaids div {
  margin-left: -10px;
}

a.right_navigate_link.bridesmaids div {
  margin-right: -90px;
}

div.venue_map {
  background-color: #443c30;
  padding: 3%;
}

div.venue_info {
  background-color: #443c30;
  color: white;
  padding: 15px;
}

div.venue_info h4 {
  margin-bottom: 10px !important;
}


div.new_rsvp_form {
  width: 50%;
  padding: 20px;
  margin: 20% 35%;
  background-color:rgba(40,40,40,0.6);
  color: white;
}

div.new_rsvp_form #name label {
  background-color: #48b5b1;
  padding: 1px 3px;
  margin-right: -3px;
}

div.new_rsvp_form #plus_one_name label {
  background-color: #48b5b1;
  padding: 1px 1px;
  margin-right: -3px;
}

div.new_rsvp_form input {
  border-style: none;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  -webkit-border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

div.new_rsvp_form #name, div.new_rsvp_form #plus_one_name {
  margin: 5px 0;
}

div.new_rsvp_form #can_plus_one {
  margin-bottom: 0;
}

div.new_rsvp_form #can_plus_one .checkbox {
  padding-top: 0;
}

div.new_rsvp_form #can_plus_one {
  margin-left: 80%;
}

div.new_rsvp_form #submit_form {
  margin-left: 65%;
  margin-top: 5%;
}

div.new_rsvp_form div.form-group {
  width: 100%;
}

div.new_rsvp_form input#guest_name {
  width: 80%;
}

div.new_rsvp_form input#guest_plus_one_name {
  width: 76%;
}

div.new_rsvp_form h3 {
  margin: 0 !important;
}
